<!-- ==================== about start ==================== -->
<section class="about py-60">
    <div class="shape1">
        <img src="assets/images/shape/shape2.png" alt="image">
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 col-12 my-auto">
                <div class="title">
                    <p class="sub">About softnio-task Boat</p>
                    <h3>Experience the <span>Ultimate</span> Adventure.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquam veritatis nostrum
                        explicabo consequatur totam officiis dolores expedita amet doloribus! Ipsum ut soluta obcaecati
                        alias maiores magnam qui beatae ab!</p>
                    <a href="#" class="btn btn--base">More Details  <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="thumb">
                    <img src="assets/images/element/a1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== about end ==================== -->