<!--========================== Banner Section Start ==========================-->
<section class="banner-section">
    <div class="shape1">
        <img src="assets/images/banner/banner_2.png" alt="image">
    </div>
    <div class="shape2">
        <img src="assets/images/shape/shape1.png" alt="image">
    </div>
    <div class="banner-thumb">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="content">
                        <h1>
                            Discover the Wonders of the
                            <img id="banner-image" src="assets/images/banner/banner_1.png" alt="image" >
                            Deep <span>Blue.</span>
                        </h1>
                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="thumb">
                        <img src="assets/images/banner/banner_3.png" alt="image">
                        <div class="search">
                            <form action="#" class="form-area">
                                <div class="row">
                                    <div class="col-lg-11 mb-3 mb-lg-auto">
                                        <div class="row gy-4">
                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="input-info">
                                                    <p>I’m looking to...</p>
                                                    <select class="select w-100">
                                                        <option selected>Specialty Boats</option>
                                                        <option value="1">Sailboats</option>
                                                        <option value="2">Fishing Boats</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="input-info">
                                                    <p>Location</p>
                                                    <input type="text" class="form--control"
                                                        placeholder="Tap town, Canada">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="input-info">
                                                    <p>Keyword</p>
                                                    <input type="text" class="form--control"
                                                        placeholder="Boat, softnio-task, Powerboats">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="input-info">
                                                    <p>Price Range</p>
                                                    <select class="select w-100">
                                                        <option selected>$200 - $500</option>
                                                        <option value="1">$500 - $1000</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 my-auto">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex justify-content-end">
                                                    <button type="submit" class="btn btn--base"><i
                                                            class="las la-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Banner Section End ==========================-->