<!-- ============================= Blog Details Sidebar Start ======================== -->
<div class="blog-sidebar-wrapper">
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Search </h5>
        <form action="#" autocomplete="off">
            <div class="search-box w-100">
                <input type="text" class="form--control" placeholder="Search...">
                <button type="submit" class="search-box__button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="blog-sidebar">
        <div class="google-add-sidebar-1">
            <img src="assets/images/element/b1.png" alt="image">
        </div>
    </div>
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Hot Topics</h5>
        <span class="hr-line"></span>
        <span class="border"></span>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <img src="assets/images/element/b1.png" alt="image">
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title text-hover"><a href="blog-details.html">Modus melioreex has in decore</a>
                </h6>
                <span class="latest-blog__date">Dec 23 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <img src="assets/images/element/b1.png" alt="image">
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title text-hover"><a href="blog-details.html">Modus melioreex has in decore</a>
                </h6>
                <span class="latest-blog__date">Dec 23 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <img src="assets/images/element/b1.png" alt="image">
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title text-hover"><a href="blog-details.html">Modus melioreex has in decore</a>
                </h6>
                <span class="latest-blog__date">Dec 23 2024</span>
            </div>
        </div>
    </div>
</div>
<!-- ============================= Blog Details Sidebar End ======================== -->