<!-- ==================== Blog Start ==================== -->
<section class="blog py-60">
    <div class="container">
        <div class="box">
            <div class="title">
                <p class="sub">news</p>
                <h3>softnio-task <span>Blogs</span></h3>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b1.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b2.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b3.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b4.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b1.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <div class="thumb">
                            <img src="assets/images/element/b4.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="blog-details.html">
                                <h4>Best softnio-task in the world</h4>
                            </a>
                            <p>Maecenas nec odio etatinci tempus. Donec vitaesapien....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Blog End ==================== -->