<!-- ==================== Header Top Start ==================== -->
<div class="header-top">
    <div class="d-flex justify-content-between">
        <div class="d-flex item">
            <p>HI, Good Afternoon Dude!</p>
            <a href="#">demo123@gmail.com</a>
        </div>
        <div class="d-flex">
            <div>
                <a class="my-auto btn--base" href="create-property.html"><i class="las la-plus"></i>add
                    property</a>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Header Top End ==================== -->