<!-- Sidebar  -->
<div class="sidebar">
    <div class="sidebar__inner">
        <div class="sidebar-top-inner">
            <div class="sidebar__logo">
                <a href="index.html" class="sidebar__main-logo">
                    <img src="assets/images/logo/logo-two.png" alt="logo">
                </a>
                <div class="navbar__left">
                    <button class="navbar__expand">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </button>
                    <button class="sidebar-mobile-menu">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar__menu-wrapper">
                <ul class="sidebar__menu p-0">
                    <li class="sidebar-menu-item ">
                        <a href="dashboard.html">
                            <i class="menu-icon las la-home"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item sidebar-dropdown">
                        <a href="javascript:void(0)">
                            <i class="menu-icon las la-hand-holding-usd"></i>
                            <span class="menu-title">Withdraw</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li class="sidebar-menu-item">
                                <a href="withdraw.html" class="nav-link">
                                    <i class="menu-icon las la-ellipsis-h"></i>
                                    <span class="menu-title">Withdraw</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="sidebar-submenu">
                            <li class="sidebar-menu-item">
                                <a href="withdraw-history.html" class="nav-link">
                                    <i class="menu-icon las la-ellipsis-h"></i>
                                    <span class="menu-title">History </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="transitions.html">
                            <i class="menu-icon las la-exchange-alt"></i>
                            <span class="menu-title">Transitions</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="support-tickets.html">
                            <i class="menu-icon las la-headphones"></i>
                            <span class="menu-title">Support</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="transitions.html">
                            <i class="menu-icon las la-exchange-alt"></i>
                            <span class="menu-title">All Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="transitions.html">
                            <i class="menu-icon las la-exchange-alt"></i>
                            <span class="menu-title">All Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="transitions.html">
                            <i class="menu-icon las la-exchange-alt"></i>
                            <span class="menu-title">All Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="transitions.html">
                            <i class="menu-icon las la-exchange-alt"></i>
                            <span class="menu-title">All Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>