<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title> softnio-task</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/logo/fav.png">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <!-- Slick -->
  <link rel="stylesheet" href="assets/css/slick.css">
  <!-- line awesome -->
  <link rel="stylesheet" href="assets/css/line-awesome.min.css">
  <!-- Odometer -->
  <link rel="stylesheet" href="assets/css/odometer.css">
  <!-- Main css -->
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- animate -->
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <!-- lightcase css -->
  <link rel="stylesheet" href="assets/css/lightcase.css">
</head>

<body>

  <!--==================== Preloader Start ====================-->
  <!-- <div class="preloader">
    <div class="loader"></div>
  </div> -->
  <!--==================== Preloader End ====================-->

  <!--==================== Overlay Start ====================-->
  <div class="body-overlay"></div>
  <!--==================== Overlay End ====================-->

  <!--==================== Sidebar Overlay End ====================-->
  <div class="sidebar-overlay"></div>
  <!--==================== Sidebar Overlay End ====================-->

  <!-- ==================== Scroll to Top End Here ==================== -->
  <a class="scroll-top"><i class="fa-solid fa-angle-up"></i></a>
  <!-- ==================== Scroll to Top End Here ==================== -->