<!--========================== Testimonial Start ==========================-->
<section class="testimonial py-100">
    <div class="container">
        <div class="title">
            <p class="sub">Feedback</p>
            <h3><span>Client</span> Feedback</h3>
        </div>
        <div class="testimonial-slider mt-3">
            <div class="card">
                <div class="profile d-flex">
                    <div>
                        <img src="assets/images/testimonials/img1.png" alt="image">
                    </div>
                    <div>
                        <h5>Wade Warren</h5>
                        <p>Maxlin, Canada</p>
                    </div>
                </div>
                <div class="content">
                    <p>Tincidunt curae ex mollis tellus maximus accumsan arcu augue blandit commodo. Curae dolor
                    </p>
                </div>
                <div class="star">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <p>5.0</p>
                </div>
                <div class="bottom">
                    <p>25 December, 2023 - 8:00 am</p>
                </div>
            </div>
            <div class="card">
                <div class="profile d-flex">
                    <div>
                        <img src="assets/images/testimonials/img3.png" alt="image">
                    </div>
                    <div>
                        <h5>Jenny Wilson</h5>
                        <p>Maxlin, Canada</p>
                    </div>
                </div>
                <div class="content">
                    <p>Tincidunt curae ex mollis tellus maximus accumsan arcu augue blandit commodo. Curae dolor
                    </p>
                </div>
                <div class="star">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <p>5.0</p>
                </div>
                <div class="bottom">
                    <p>25 December, 2023 - 8:00 am</p>
                </div>
            </div>
            <div class="card">
                <div class="profile d-flex">
                    <div>
                        <img src="assets/images/testimonials/img2.png" alt="image">
                    </div>
                    <div>
                        <h5>Emmna Doe</h5>
                        <p>Maxlin, Canada</p>
                    </div>
                </div>
                <div class="content">
                    <p>Tincidunt curae ex mollis tellus maximus accumsan arcu augue blandit commodo. Curae dolor
                    </p>
                </div>
                <div class="star">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <p>5.0</p>
                </div>
                <div class="bottom">
                    <p>25 December, 2023 - 8:00 am</p>
                </div>
            </div>
            <div class="card">
                <div class="profile d-flex">
                    <div>
                        <img src="assets/images/testimonials/img1.png" alt="image">
                    </div>
                    <div>
                        <h5>Wade Warren</h5>
                        <p>Maxlin, Canada</p>
                    </div>
                </div>
                <div class="content">
                    <p>Tincidunt curae ex mollis tellus maximus accumsan arcu augue blandit commodo. Curae dolor
                    </p>
                </div>
                <div class="star">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <p>5.0</p>
                </div>
                <div class="bottom">
                    <p>25 December, 2023 - 8:00 am</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Testimonial End ==========================-->